
.nav-link:hover{
    color: white;
    transition: color 0.3s ease;
}
.card:hover {
    background-color:aqua;
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.but:hover{
    background-color: coral;
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

}
body{
    background-color:#ffffff;
}
.cardbody{
       height:200px;
       background-color:#f0f0f0;
       color:#2c3e50;
}
